#
# Copyright SecureKey Technologies Inc. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
*.db
*report.xml
.DS_Store
.vscode
debug.test
coverage.txt
vendor/
scripts/_go/pkg/
scripts/_go/bin/
.idea/
test/fixtures/fabric/*/crypto-config/
test/fixtures/fabric/*/channel/